@import url('https://fonts.googleapis.com/css2?family=Engagement&family=Rock+Salt&display=swap');
*
{    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.select {
    text-align: center;
    margin: 0;
}
body
{
    background: url('img/bg3.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.mainbody 
{
    margin-top:110px;
    padding-top: 20px;
    padding-left: 100px;
    display: flex;
    justify-content: flex-start;
}
.heading 
{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
span
{
    margin-top:20px;
    color: #fff;
    font-family: 'GlacialIndifferenceRegular'; 
    font-weight: normal; 
    font-style: normal; 
    font-size: 50px;
}
/* #heading
{
    font-family: 'Rock Salt', cursive;
    font-weight: 400;
    color: #fff;
    font-size: 3em;
} */
.desti
{
    margin-top:50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 50vh;
    z-index: 2;
    
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    
}
#destination
{
    
    font-family: 'GlacialIndifferenceRegular'; 
    font-weight: normal; 
    font-style: normal; 
}
button
{
    background: transparent;
    color: #fff;
    margin-bottom: 10px;
    font-size: 1em;
    font-family: 'Rock Salt', cursive;
    border-radius: 10px;
    border-color: #fff;
    width: 100px;
    height:fit-content;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
}


.select select
{
    background: none;
    border: none;
    width: 20vw;
    color: #fff;
    font-family: 'GlacialIndifferenceRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.bot
{
    padding-top: 5vh;
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
}
#overview
{
    background: url(img/pbg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
#overview
{
    height: 100vh;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 0 5vw;
    font-family: 'Rock Salt', cursive;
    color: #fff;
}
.q
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.q a
{
    width:fit-content;
    padding: 5px;
    color: #fff;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.1px);
    -webkit-backdrop-filter: blur(8.1px);
    cursor: pointer;
}